{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-lg">
    <div class="text-center">
      <h2 class="display-4">
        {% if search %}
          Results found for: "{{ search }}"
        {% else %}
          Art Pieces
        {% endif %}
      </h2>
      {% if page <= 1 %}
        <div class="btn">Previous Page</div>
      {% else %}
        <a href="/arts?page={{ page | minus: 1 }}" class="btn btn-success">Previous Page</a>
      {% endif %}
      <a href="/arts?page={{ page | plus: 1 }}" class="btn btn-success">Next Page</a>
    </div>
    <div class="row">
      {% for art in artData %}
        {% if art.image_id %}
          <div class="card mb-3 bg-dark text-light" style="width: 40vh; height:50vh; margin: 0 auto;">
            <h5 class="card-header">
              {% assign maxLength = 31 %}
              {% assign myString = art.title %}

              {% if myString.size > maxLength %}
                {% assign croppedString = myString | truncate: maxLength, "..." %}
              {% else %}
                {% assign croppedString = myString %}
              {% endif %}
              {{ croppedString }}
            </h5>
            <a href="/arts/{{ art.id }}" class="art">
              <div class="card-body" style="background-image: url('{{ artConfig  }}{{ art.image_id }}/full/843,/0/default.jpg'); height:41vh; background-position:center"></div>
            </a>
            <div class="card-footer">

              <p class="card-text">
                {% assign maxLengthDesc = 38 %}
                {% assign artDesc = art.artist_display %}
  
                {% if artDesc.size > maxLengthDesc %}
                  {% assign croppedDesc = artDesc | truncate: maxLengthDesc, "..." %}
                {% else %}
                  {% assign croppedDesc = artDesc %}
                {% endif %}
                {{ croppedDesc }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}