{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h2 class="display-6">All Examples</h2>
    <div class="row">
      {% for example in artData %}
        {% if example.image_id %}
          <div class="card mb-2" style="width: 100vh;">
            <h5 class="card-header">{{ example.title }}</h5>
            <div class="card-body">
              
                <a href="/examples/{{ example.id }}" class="art">
                <img
                src="{{ artConfig  }}{{ example.image_id }}/full/843,/0/default.jpg"
                style="width: 100%"
                alt="{{ example.alt_text }}">
                </a>
                <p class="card-text">
                  {{ example.artist_display }}
                </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}